
    <h1>Author</h1>

    
    <p>This webpage has been created by me, Alexander de la Torre Astanin.</p>
    <img src="/images/avatar.gif" alt="avatar.jpg" width="200"/>

    <hr />
    <div>
      <img src="images/logos/cloudinary.png" width="5%"/>
      <img src="images/logos/dit.png" width="5%"/>
      <img src="images/logos/express.png" width="5%"/>
      <img src="images/logos/heroku.png" width="5%"/>
      <img src="images/logos/nodejs.png" width="5%"/>
      <img src="images/logos/npm.png" width="5%"/>
      <img src="images/logos/postgres.png" width="5%"/>
      <img src="images/logos/sequelize.png" width="5%"/>
      <img src="images/logos/sqlite.png" width="5%"/>
      <img src="images/logos/upm.bmp" width="5%"/>
    </div> 
  

